{% import '_macros.twig' as macros %}
{% if user != false %}
<!--Subscriptions-->

<!--META-->
<div id='__MetaTitle' class='display--none'>Подписки</div>

<div class='__pageState PageState'>
    <div class='Box'>
        <div onclick='NavigationModel.returnBack()' class='__returnButton Button'><img src='web/ico/eee/back.png'></div>
    </div>
    <div class='Bar'>
        <div class='Text'>
            <div class='Capture Cut'>
                <div class='Swift __captureText Cut'>Подписки  <div class='display--block text-color--grey'>{{ user.subscriptions.artists|length }}</div></div>
            </div>
        </div>
    </div>
</div>

<!--MY PROFILE-->
<div class='Draft__Profile Draft' style='min-height: 100vh'>
    <div class='Content'>
        <div class='inter--20'></div>
        <div id='__ACTIVE-CONTENT-AREA__' class='no-scroll Element__HalfGrid' style='padding: 0px 0px;'>
            {% for artist in all_subscriptions %}
                <div x='artist' param='id={{ artist.id }}' class='Navigation_UpdateWin Element__HalfCard Middle Artist Item ToolTipeWrap'>
                    <div class='ToolTipe'>{{ artist.name }}</div>
                    <div class='Ico' style='background-image: url({{ artist.picture_small }}); border-radius: 50%;'>
                        <div class='Ad'></div>
                    </div>
                    <div class='Info'>
                        <div class='Cut Title ShowTitle'>{{ artist.name }}</div>
                        <div class='Cut Ad'>{{ macros.format_number(artist.followers) }} слушают</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id='__TRIGGER__'></div>
        <div class='inter--100' style='height: 20vh;'></div>
    </div>
    
    <script>
        var LAZY_ACTION = 'mySubscriptions';
        var CONTENT_OFFSET = Number({{ start_offset }}); 
    </script>
    <script src="web/js/LazyLoadingService.js?v=55"></script>
</div>

{% else %}
    <!--PROFILE PLUG-->
    {% embed 'chunks/profile_plug.twig' %}
    {% endembed %}
{% endif %}