{% import '_macros.twig' as macros %}
<!--Recommend Releases-->

<!--META-->
<div id='__MetaTitle' class='display--none'>Рекомендуемые релизы</div>

<div class='__pageState PageState'>
    <div class='Box'>
        <div onclick='NavigationModel.returnBack()' class='__returnButton Button'><img src='web/ico/eee/back.png'></div>
    </div>
    <div class='Bar'>
        <div class='Text'>
            <div class='Capture Cut'>
                <div class='Swift __captureText Cut'>Слушает Юра Борисов</div>
            </div>
        </div>
    </div>
</div>

<!--RECOMMEND RELEASES-->
<div class='Draft__Profile Draft' style='min-height: 100vh;'>
    <div class='inter--20'></div>
    <div class='Content'>
        <div id='__ACTIVE-CONTENT-AREA__' class='LazyLoading_Content no-scroll Element__HalfGrid'>
            {% for release in recommend_releases %}
                <div x='album' param='id={{ release.id }}' class='Navigation_UpdateWin Element__HalfCard Item'>
                    <div class='Ico' style='background-image: url({{ release.cover }});'>
                        <div class='Play'><img src='web/ico/black/play.png'></div>
                        <div class='Ad'></div>
                    </div>
                    <div class='Info'>
                        <div class='Cut Title ShowTitle'>{{ release.name }}</div>
                        <div class='Cut Ad'>
                            {% for key, artist in release.artists%}
                                {{ macros.artistDiv(artist) }}
                                {% if key < release.artists|length -1%}
                                    &
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class='inter--2'></div>
                        <div class='Cut Ad'>{{ macros.format_year(release.release_date) }} • {{ release.type }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id='__TRIGGER__'></div>
        <div class='inter--100' style='height: 20vh;'></div>
    </div>
    <script>
        var LAZY_ACTION = 'recommendedReleases';
        var CONTENT_OFFSET = Number({{ start_offset }}); 
    </script>
    <script src="web/js/LazyLoadingService.js?v=55"></script>
</div>
